* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}


ul,
ol {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;

}


/* ---Header--- */

h1 {
    color: rgb(226, 138, 6);
    font-size: 1.4rem;
}

header {

    background-color: black;
    color: white;
    border-bottom: 2px solid white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



a:hover {
    color: rgb(226, 138, 6);

}

.formulario,
.log {
    display: none;
}

.indicador {
    lighting-color: rgb(226, 138, 6);
}


@media (min-width:480px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .barra {
        display: flex;
        gap: 1rem;
    }

}

@media (min-width:768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    header h1 {

        text-align: left;
    }

    header nav {
        grid-column: span 3;
        text-align: center;

    }

    .barra {

        padding-top: 2rem;
        justify-content: center;

    }

    .formulario {

        justify-self: center;
        align-self: center;
        gap: 1rem;

        display: block;
    }

    .log {
        text-decoration: underline;
        display: flex;
        justify-self: end;
        align-self: center;
    }




}





/* ---Contenedor--- */
.contenedor {
    max-width: 1500px;
    margin: 0 auto;

}



/* ---Main--- */

.portada {


    padding: 2rem 2rem;
    background-color: black;
    display: flex;
    flex-direction: column;

    gap: 1rem;
}



.index-titulo {

    color: white;
    font-size: 2.5rem;
    text-align: center;

}

.index-texto {
    padding-bottom: 3rem;
    color: white;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    border-bottom: 1px solid white;
}


@media (min-width:768px) {

    .portada {
        min-height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .index-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        border-bottom: 0;
    }
}




h3 {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.galeria {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: black;
}

.boton-galeria {
    border: 1px solid white;
    background-color: rgb(226, 138, 6);
    padding: 1rem 1rem;
    margin-top: 1rem;
    display: inline-block;

}

.boton-galeria:hover {
    background-color: black;
}

@media (min-width:768px) {

    .galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

    }

    .boton-galeria {
        grid-column: 2/3 ;

    }

}

@media (min-width:1200px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    h1 {
        align-self: center;
        font-size: 2rem;
    }

    .barra,
    .log {
        font-size: 1.2rem;
    }

}







/* ---Footer--- */

footer {
    border-top: 2px solid white;
    padding-top: 3 rem;
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

.footer-contenedor {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}


.footer-contenedor h4 {
    font-size: 0.8rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}



.footer-contenedor h4,
.footer-contenedor ul {
    text-align: center;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer input {
    padding: 0.3 rem;
    margin-top: 1rem;

}

@media (min-width:768px) {
    .footer-contenedor {
        flex-direction: row;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
    }
}




/* -------- Seccion contacto --------- */


.contenedor-contacto h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
}

.contenedor-contacto {

    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.formulario-contacto {

    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;

}

.celdas {

    color: white;
    background-color: black;
    border: 3px solid rgb(226, 138, 6);
    gap: 1rem;
    padding: 0.2rem;
}

.espacio-consulta {
    padding: 3rem;
}

.boton-contacto {

    background-color: rgb(226, 138, 6);
    padding: 0.2rem;
    margin-top: 0.5rem;
}

.redes {

    align-items: center;
    padding: 2rem;
}

@media (min-width:768px) {
    .redes ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
}


/*  --- Seccion Medios de Pago ---- */

.titulo-pagos {
    align-self: center;
}


.cajas-pagos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;

}


.caja-1 {
    background-color:rgb(226, 138, 6) ;
    gap: 1rem;
    border: 1px solid white;

}