* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Play", sans-serif;
  }
  
  main {
    height: 80 vh;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }

  /* ---Contenedor--- */
.contenedor {
    max-width: 1500px;
    margin: 0 auto;
    /* background-color: black; */
  }