.contenedor-contacto {

    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.formulario-contacto {

    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;

}

.celdas {

    color: white;
    background-color: black;
    border: 3px solid rgb(226, 138, 6);
    border-radius: 5px;
    gap: 1rem;
    padding: 0.2rem;
}

.espacio-consulta {
    padding: 3rem;
}



.redes {


    align-items: center;
    padding: 2rem;
    
    i {
        display: inline;
        font-size: 1.2rem;
        padding: 1rem;
    
    }
}



@media (min-width:768px) {
    .redes ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 5rem;
    }
}
