.portada {

    padding: 2rem 2rem;
    background-color: $color-negro;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.index-texto {
    padding-bottom: 3rem;
    color: $color-blanco;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    border-bottom: 1px solid $color-blanco;
}


h3 {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.galeria {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: $color-negro;

    .boton-galeria {
        border: 2px solid $color-naranja;
        background-color: $color-naranja;
        border-radius: 5px;
        padding: 1rem 1rem;
        margin-top: 1rem;
        display: inline-block;
        transition: 0.3s ease;

        &:hover {
            background-color: $color-negro;
        }

    }

    @include mq-md {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

}





@media (min-width:768px) {



    .boton-galeria {
        grid-column: 2/3;

    }

    .portada {
        min-height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .index-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        border-bottom: 0;
    }

}



@media (min-width:1200px) {

    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    h1 {
        align-self: center;
        font-size: 2rem;
    }

    .barra {
        font-size: 1.2rem;
    }

}